.flex(class="flex-col md:flex-row justify-start md:items-center gap-2 md:gap-6")
    span.text-white(class="text-[14px] md:text-[12px] 2xl:text-[18px]") Узнавай первым о скидках:
    form.flex.items-center.gap-4(action="/" method="GET")
        .border.border-white.overflow-hidden(class="flex-1 md:flex-auto rounded-[8px] md:rounded-[4px] leading-[26px] md:leading-[13px] xl:leading-[20px] xl:rounded-[10px] h-[32px] md:h-[20px] xl:h-auto xl:py-[3px] px-[12px] lg:px-6 2xl:py-[7px]")
            input.bg-transparent.leading-tight.text-gray800.no-outline(
                type="text",
                placeholder="Введите ваш email"
                class="w-full md:w-[150px] 2xl:w-[250px] text-[12px] md:text-[10px] xl:text-[14px] 2xl:text-sm"
            )
        button.bg-accentRed.text-white(
            type="submit",
            class="text-[12px] md:text-[10px] xl:text-[14px] 2xl:text-base h-[32px] md:h-[20px] px-[16px] xl:px-8 xl:h-8 2xl:h-10 rounded-[8px] md:rounded-[4px] xl:rounded-lg"
        ) Подписаться

