#js-header-center(class="shadow-[0px_10px_30px_0px_rgba(61,61,78,0.10)]")
    .container
        .flex.items-center.py-4(class="md:py-5 gap-[14px] md:gap-5 lg:gap-[18px] 2xl:gap-10")
            a(href="/", aria-label="Главная страница")
                picture
                    source(srcset="/src/assets/images/logo.svg", media="(min-width: 768px)")
                    img(
                        src="/src/assets/images/logo-mobile.svg",
                        alt="Логотип компании"
                        class="" +
                        "md:min-w-[75px] md:h-[30px] " +
                        "xl:min-w-[150px] xl:h-[60px]"
                    )
            .relative(class="hidden md:block")
                .absolute.flex.items-center.justify-center(class="top-2/4 -translate-y-2/4 left-[5px] xl:left-[10px] gap-[4px] xl:gap-[12px]")
                    svg(class="w-[18px] h-[18px] xl:w-[24px] xl:h-[24px] fill-primary")
                        use(href="#icon-location")
                    .flex.flex-col.items-start(class="leading-[normal]")
                        a(href="#" class="text-[9px] xl:text-[16px] border-b-primary border-b border-solid") 33 винотеки
                        p(class="text-[9px] xl:text-[16px]") по всей России
                svg(class="w-[215px] h-[60px] stroke-accentRed hidden xl:block")
                    use(href="#icon-bg-header-address")
                svg(class="w-[121px] h-[28px] stroke-accentRed xl:hidden")
                    use(href="#icon-bg-header-address-table")
            .flex-1.relative
                .flex.items-center(class="gap-[25px] xl::gap-[10px] 2xl:gap-10")
                    button.js-toggle-menu.flex.justify-center.items-center.rounded-lg.bg-customRed(
                        type="button",
                        class="text-[10px] lg:text-[12px] w-[81px] h-[22px] md:w-[110px] gap-[8px] lg:gap-2 xl:gap-[15px] hidden md:flex xl:w-[151px] lg:h-[40px]",
                        aria-label="Каталог",
                        aria-haspopup="true",
                        aria-expanded="false"
                    )
                        svg(class="shrink-0 w-[10px] h-[10px] lg:w-[21px] lg:h-[21px]")
                            use(href="#icon-control-menu-catalog")
                        span.text-white(class="font-light text-[10px] lg:text-[16px]") Каталог
                    form.flex.items-center.rounded-md.border.border-gray300.gap-2.w-full.px-2(
                        class="px-[17px] md:px-[8px] h-[24px] md:h-[22px] lg:h-[40px] lg:w-[440px] xl:w-[440px] 2xl:w-[640px]",
                        action="/search",
                        method="GET",
                        role="search"
                    )
                        svg(class="w-[14px] h-[18px] md:w-[11px] md:h-[14px] lg:w-5 lg:h-5 opacity-30")
                            use(href="#icon-search-lupa")
                        input.font-openSans.font-light.w-full.no-outline(
                            placeholder="Красное полусухое"
                            name="q",
                            aria-label="Поиск по каталогу"
                            class="text-[14px] md:text-[10px] lg:text-base"
                        )
                        p.font-openSans.whitespace-nowrap(class="hidden md:block text-primary/50 text-xs xl:text-base xl:font-light") По каталогу
            .flex
                button.js-popup-open(
                    type="button",
                    class="md:hidden",
                    aria-label="Меню",
                    aria-expanded="false",
                    aria-controls="popup-menu"
                )
                    svg(class="w-[19px] h-[17px]")
                        use(href="#icon-control-burger")
                ul(class="hidden gap-[23px] xl:gap-[46px] md:flex")
                    li
                        a(
                            href="#",
                            aria-label="Корзина"
                        )
                            svg(class="w-[12px] h-[12px] lg:w-[23px] lg:h-[23px]")
                                use(href="#icon-control-basket")
                    li
                        a(href="#")
                            svg(class="w-[12px] h-[12px] lg:w-[23px] lg:h-[23px]")
                                use(href="#icon-control-heart")
                    li
                        a(href="#")
                            svg(class="w-[12px] h-[12px] lg:w-[22px] lg:h-[23px]")
                                use(href="#icon-control-man")