mixin headerMenuSub(sectionData)
    include _sliders/sections
    include _sliders/filter_price
    include _sliders/filter_tabs

#popup-menu.popup-menu
    button.absolute(type="button" class="top-[15px] right-[15px] md:right-2 md:top-2 xl:right-[15px] xl:top-[15px]")
        svg(class="w-[30px] h-[30px] md:w-[20px] md:h-[20px] xl:w-7 xl:h-7")
            use(href="#icon-control-close-middle")
    ul.flex.flex-col(class="md:hidden gap-[16px] mx-[17px] my-[15px]")
        li
            a(href="#", class="flex items-center gap-2 text-[14px]")
                svg(class="w-[22px] h-[22px]")
                    use(href="#icon-menu-account")
                span Личный кабинет
        li.border-b.border-primary(class="w-[70vw]")
        li
            a(href="#", class="flex items-center gap-2 text-[14px]")
                svg(class="w-[24px] h-[24px]")
                    use(href="#icon-menu-location")
                span Винотеки
        li.border-b.border-primary(class="w-[70vw]")
        li
            a(href="#", class="flex items-center gap-2 text-[14px]")
                svg(class="w-[24px] h-[24px]")
                    use(href="#icon-menu-city")
                span Москва
    .flex.flex-col(class="ml-[17px] md:mr-0")
        .flex.flex-col(class="gap-x-[8px] md:grid md:grid-cols-[180px_1fr] md:gap-x-[22px] xl:grid-cols-[320px_1fr]")
            a.flex.items-center.col-start-1(href="#", class="md:p-[6px] md:pl-[11px] xl:pl-7 mt-[15px] xl:mt-[17px] mb-[12px] md:mb-[16px] gap-[4px] xl:gap-2")
                svg(class="hidden md:block w-[20px] h-[20px] xl:w-10 xl:h-10")
                    use(href="#icon-menu-category-5")
                span.text-accentRed.leading-normal(class="text-[14px] md:font-bold md:text-[10px] xl:text-[20px]") Скидки и акции
            each item, i in ['Вино', 'Игристое, шампанское', 'Крепкие напитки', 'Деликатесы', 'Вода']
                .flex.col-start-1.popup-menu-link-sub(data-section=`${item}`,
                        class= i === 0 ? 'active' : ''
                        class="justify-between items-center lg:items-center md:justify-normal md:items-start md:p-[6px] xl:py-[14px] 2xl:px-[24px] mb-[14px] md:mb-[8px] gap-[4px] 2xl:gap-2"
                    )
                    svg.flex-shrink-0(class="hidden md:block ml-[5px] mt-[1px] w-[20px] h-[20px] xl:w-[41px] xl:h-[41px]")
                        use(href=`#icon-menu-category-${i}`)
                    .flex.flex-col
                        a(href="#", class="popup-menu-link-sub__item " +
                            "text-[14px] md:text-[10px] xl:text-[20px] md:font-bold whitespace-nowrap leading-normal")
                                span=item
                        ul.gap-2(class="popup-menu-link-sub__menu hidden md:flex xl:mt-[14px]")
                            each link in ['Красное', 'Белое', 'Розовое']
                                li(class="leading-[15px]")
                                    a.text-coolGray(href="#", class="text-base md:text-[10px] xl:text-[16px] leading-normal")=link
                    svg(class="w-[19px] h-[19px] stroke-primary  md:hidden", class= i === 0 ? 'rotate-180' : '')
                        use(href="#icon-arrow-menu-down-mobile")
                .min-w-0.item2.col-start-2.row-start-1.row-span-7.pt-2(data-section=item, class= i === 0 ? 'block' : 'hidden')
                    .relative.overflow-hidden(class="pb-[24px] md:pb-0 mt-[00px] xl:mt-[30px] mr-[-12px] md:mr-[20px] xl:mr-[43px]")
                        +headerMenuSub({ items: mobileMenuSections, section: item })
        .min-w-0(class="hidden1")
            include _sliders/brands
    .block(class="px-[17px] mt-[15px] md:hidden")
        ul.flex.flex-col(class="gap-[3px] mb-[11px]")
            li: p(class="text-[14px]") г. Москва, ул. Поклонная, д. 3, корп. E1
            li: a(href="#" class="text-[14px]") Тел. 8 (800) 511-90-90
            li: a(href="#" class="text-[14px]") Info@wineexpress.ru
        ul.flex(class="gap-[16px]")
            li
                a(href="#")
                    svg(class="w-[24px] h-[24px]")
                        use(href=`#icon-smo-telegram`)
            li
                a(href="#")
                    svg(class="w-[24px] h-[24px]")
                        use(href=`#icon-smo-vk`)
