.bg-gray100.hidden(class="p-[5px] lg:py-[10px] md:block")
    .container
        .flex.items-center.justify-between
            .flex.items-center.gap-2
                a.block(href="#")
                    svg(class="w-[11px] h-[11px] lg:w-[22px] lg:h-[22px]")
                        use(href="#icon-control-play")
                a.block(href="#")
                    svg(class="w-[11px] h-[11px] lg:w-[22px] lg:h-[22px]")
                        use(href="#icon-control-acrobat")
                .flex.items-center(class="lg:ml-2")
                    a.block.underline.opacity-80(href="#", class="text-[10px] lg:text-[14px]") Мобильное приложение
            .flex.items-center(class="gap-[25px] xl:gap-[50px] xl:mr-[24px]")
                .relative.js-dropdown
                    button.js-dropdown-button.flex.items-center.gap-2.no-outline(
                            type="button"
                            class="text-[10px] lg:text-[14px]"
                            aria-haspopup="true",
                            aria-expanded="false",
                            aria-controls="dropdownMenu-client"
                        )
                        span.opacity-80 Клиентам
                        svg.rotate-0.js-dropdown-arrow(class="w-[11px] h-[3px]")
                            use(href="#icon-arrow-down")
                    .absolute.z-20.t-full.-left-5.p-3.bg-gray100.hidden.js-dropdown-menu(
                        class="rounded-[8px] m-[7px] lg:m-3",
                        id="dropdownMenu-client"
                    )
                        ul.flex.flex-col(class="gap-[5px] xs:gap-3")
                            each item in ['Частным клиентам', 'Корпоративным клиентам', 'Производители']
                                li
                                    a.inline-flex.items-center.whitespace-nowrap.gap-2(href="#")
                                        span(class="text-[10px] lg:text-[14px]")=item
                                        svg(class="w-[26px] h-[13px]")
                                            use(href="#icon-arrow-big-right")
                .relative.js-dropdown
                    .flex.items-center.gap-1
                        span.opacity-80.leading-tight(class="text-[10px] lg:text-[14px]") Ваш город:
                        button.js-dropdown-button.flex.items-center.gap-2.no-outline(
                                type="button"
                                class="text-[10px] lg:text-[14px]"
                                aria-haspopup="true",
                                aria-expanded="false",
                                aria-controls="dropdownMenu-cities"
                            )
                            span Санкт-Петергург
                            svg.rotate-0.js-dropdown-arrow(class="w-[11px] h-[3px]")
                                use(href="#icon-arrow-down")
                    .absolute.z-20.t-full.-left-5.-right-8.p-3.bg-gray100.hidden.js-dropdown-menu(
                        class="rounded-[8px] m-[7px] lg:m-3",
                        id="dropdownMenu-cities"
                    )
                        button.absolute.right-3.top-3.js-dropdown-close(type="button")
                            svg(class="w-2 h-2")
                                use(href="#icon-control-close-mini")
                        ul.flex.flex-col(class="gap-[5px] xs:gap-3")
                            each item in ['Москва', 'Санкт-Петергург', 'Сочи', 'Воронеж']
                                li
                                    a.inline-flex.items-center.whitespace-nowrap.gap-2(href="#")
                                        span(class="text-[10px] lg:text-[14px]")=item
                                        svg(class="w-[26px] h-[13px]")
                                            use(href="#icon-arrow-big-right")
                .flex.items-center.gap-2
                    svg(class="w-[10px] h-[10px] lg:w-5 lg:h-5")
                        use(href="#icon-phone")
                    a.opacity-80.font-bold.underline.leading-tight(
                        href="tel:89001002020"
                        class="text-[10px] lg:text-[14px]"
                    ) 8 (900) 100-20-20
                .flex.items-center.gap-1
                    svg(class="w-[10px] h-[10px] lg:w-5 lg:h-5")
                        use(href="#icon-location")
                    span.opacity-80(class="text-[10px] lg:text-[14px]") Адреса винотек
