mixin buttonMore(name)
    a(href="#" class="text-[#A41012] text-[16px] sm:text-[12px] xl:text-[16px] h-[40px] sm:h-[20px] xl:h-[40px] py-[12px] px-[15%] sm:px-[20px] xl:px-[67px] inline-flex justify-center items-center gap-[10px] flex-shrink-0 rounded-[10px] sm:rounded-[5px] xl:rounded-[10px] border-[1px] border-[#A41012]")=name

mixin buttonCart(name)
    button(class="py-[12px] sm:py-[6px] xl:py-[12px] rounded-[10px] sm:rounded-[5px] xl:rounded-[10px] bg-primary text-white w-full sm:w-[136px] xl:w-[272px] text-[16px] sm:text-[10px] xl:text-base leading-[normal]") В корзину

mixin sliderButtonLeft(className, top='top-[50%]')
    button.absolute.z-10.flex.items-center.justify-center(class=`${className} bg-white border border-[#848484] sm:border-[#F2F3F5] w-[26px] h-[26px] xl:w-[52px] xl:h-[52px] sm:bg-[#F2F3F5] rounded-full ${top} -left-[6px] -translate-y-1/2`)
        svg(class="w-[13px] h-[6px] xl:w-[27px] xl:h-[12px]")
            use(href="#icon-arrow-slider-left")

mixin sliderButtonright(className, top='top-[50%]')
    button.absolute.z-10.flex.items-center.justify-center(class=`${className} bg-white border border-[#848484] sm:border-[#F2F3F5] w-[26px] h-[26px] xl:w-[52px] xl:h-[52px] sm:bg-[#F2F3F5] rounded-full ${top} -right-[6px] -translate-y-1/2`)
        svg(class="w-[13px] h-[6px] xl:w-[27px] xl:h-[12px]")
            use(href="#icon-arrow-slider-right")
